<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/admin/admin-panel.css}" />
    <title>Admin panel</title>
</head>
<body>
<div>
    <div class="sign-out-button">
        <form th:action="@{/logout}" method="post" >
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <header class="main-header">
        <div class="main-header-label">
            <h1>ADMIN PANEL</h1>
        </div>
    </header>

    <div id="response" th:if="${isDeleted == true}">
        <p>Użytkownik  === <span th:text="${deletedEmail}">email</span> został pomyślnie usunięty</p>
    </div>

    <div class="logging-form">
        <a th:href="@{/adminPanel/deleteClient}"><button class ="buttonPanel">Usun konto</button></a>
        <a th:href="@{/adminPanel/addMovie}"><button class ="buttonPanel">Dodaj Film</button></a>
        <a th:href="@{/adminPanel/addShow}"><button class ="buttonPanel">Dodaj Seans</button></a>
        <a th:href="@{/adminPanel/addIShow}"><button class ="buttonPanel">Dodaj Projekcję</button></a>
    </div>
</div>
</body>
</html>