<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/admin/ishow-adding.css}">
    <title>Add Show</title>
</head>
<body>

<div class="sign-out-button">
    <form th:action="@{/logout}" method="post" >
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<header class="main-header">
    <div>
        <h1>Dodaj Projekcje</h1>
    </div>
</header>

<section class="main-section">


    <div th:if="${addedIShow != null && !addedIShow.isEmpty()}" id="response">
        <p>Dodano projekcje filmu <span th:text="${addedIShow}">movie title</span></p>
    </div>

    <div>
        <form th:action="@{/adminPanel/addIShow}" th:object="${ishow}" th:method="post" id="movie-adding">
            <div>
                <input th:field="*{title}" name="title" id="title" type="text" placeholder="Wpisz tytuł">
            </div>

            <div>
                <select th:field="*{soundtrack}" id="category">
                    <option value="NAPISY">Napisy</option>
                    <option value="DUBBING">Dubbing</option>
                    <option value="LEKTOR_PL">Lektor PL</option>
                </select>
            </div>

            <div>
                <input th:field="*{roomNumber}" name="room-number" id="room-number" type="number" placeholder="Wpisz Nr Sali">
            </div>

            <div>
                <input th:field="*{city}" name="city" id="city" type="text" placeholder="Podaj miasto">
            </div>

            <div>
                <input th:field="*{street}" name="street" id="street" type="text" placeholder="Podaj ulice">
            </div>

            <div>
                <input th:field="*{showDate}" name="show-date" id="show-date" type="date">
            </div>

            <div>
                <input th:field="*{showTime}" name="show-time" id="show-time" type="time">
            </div>

            <div>
                <input th:field="*{price}" name="price" id="price" type="number" step="0.01" placeholder="Podaj cene">
            </div>

            <div>
                <button type="submit" class="buttons">
                                    <span class="register-submit-text">
                                        <span>Dodaj Seans</span>
                                    </span>
                </button>
                <input type="reset" value="RESET">
            </div>
        </form>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Tytuły Filmów</th>
                <th>Soundtrack</th>
            </tr>
            </thead>
            <tbody>
            <span th:each="iShow: ${movieShowService.getMovieShows()}">
                    <tr th:with="movie = ${movieShowService.getMovieFromShow(iShow.getIdShow())}">
                        <td th:text="${movie.getTitle()}">Movie titles</td>
                        <td th:text="${movieShowService.getSoundtrackFromShow(iShow.getIdShow())}">Soundtrack</td>
                    </tr>
                </span>


            </tbody>
        </table>
    </div>


    <div>
        <a th:href="@{/adminPanel}"><button class="buttons2">Powrót do panelu</button></a>
    </div>
</section>

</body>
</html>