<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/admin/show-adding.css}">
  <title>Add Show</title>
</head>
<body>
<div>
  <div class="sign-out-button">
    <form th:action="@{/logout}" method="post" >
      <input type="submit" value="Wyloguj się"/>
    </form>
  </div>
  <header class="main-header">
    <div>
      <h1>Dodaj Seans</h1>
    </div>
  </header>

  <section class="main-section">

    <div th:if="${addedShow != null && !addedShow.isEmpty()}" id="response">
      <p>Dodano seans <span th:text="${addedShow}">movie title</span></p>
    </div>

    <form th:action="@{/adminPanel/addShow}" th:object="${show}" th:method="post" id="movie-adding">
      <div>
        <input th:field="*{title}" name="title" id="title" type="text" placeholder="Wpisz tytuł">
      </div>

      <div>
        <select th:field="*{soundtrack}" id="category">
          <option value="Napisy">Napisy</option>
          <option value="Dubbing">Dubbing</option>
          <option value="Lektor_PL">Lektor PL</option>
        </select>
      </div>

      <div>
        <button type="submit" class="buttons">
                                        <span class="register-submit-text">
                                            <span>Dodaj Seans</span>
                                        </span>
        </button>
        <input type="reset" value="Reset">
      </div>
    </form>


    <div id="response">
      <table class="table">
        <thead>
        <tr>
          <th>Tytuły Filmów</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${movieList}">
          <td th:text="${client.getTitle()}">Movies</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <a th:href="@{/adminPanel}"><button class="buttons2">Powrót do panelu</button></a>
    </div>
  </section>


</div>
</body>
</html>