<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/reservation/reserve-ticket.css}">
    <title>Rezerwacja biletu</title>
</head>
<body>
<div >

    <div class="sign-out-div">
        <form th:action="@{/logout}" method="post" >
            <input type="submit" value="Wyloguj się"/>
        </form>
    </div>

    <div class="back-button-div">
        <a th:href="@{/chooseIShow}"><button id="back-button">Wybor Kina</button></a>
    </div>

</div>
<header class="main-header">
    Wybrany film
</header>

<section class="main-section">

    <div class="movie">
        <div class="title">
            <p><span th:text="*{movie.getTitle()}">tytul</span></p>
        </div>
        <div class="description">
            <p>Opis: <p>
            <span th:text="*{movie.getMovieDescription()}">opis</span>
        </p>
            </p>
            <p>Kategoria wiekowa: od <span th:text="*{movie.getAgeCategory()}">kategoria wiekowa</span> lat</p>
            <p>Długość: <span th:text="*{movie.getLength()}">dlugosc</span>min</p>
        </div>
    </div>


    <div class="reserve-main">
        <div>
            <h3>Wybierz miejsce</h3>
        </div>

        <span th:if="${successful != null}">
                    <div th:if="${successful}">
                        <p>Bilet zarezerwowano pomyślnie!</p>
                    </div>
                    <div th:if="${!successful}">
                        <p>Bilet jest już zarezerwowany!</p>
                    </div>
                </span>

        <div class="choose-seat">
            <form th:action="@{/movie/reserveTicket(id=${iShow.getIdiShow()})}" th:object="${ticketDto}" th:method="post">
                <div class="choose-exact-seat">
                    <label>Wybierz rząd: </label>
                    <select th:field="*{row}" id="row">
                                <span th:each="iRow: ${rowList}">
                                    <option th:value="${iRow}"><span th:text="${iRow}" /></option>
                                </span>
                    </select>
                </div>

                <div class="choose-exact-seat">
                    <label>Wybierz miejsce: </label>
                    <select th:field="*{seat}" id="seat">
                                <span th:each="iSeat: ${seatsInRowList}">
                                    <option th:value="${iSeat}"><span th:text="${iSeat}" /></option>
                                </span>
                    </select>
                </div>

                <div class="choose-exact-seat">
                    <label>Czy posiadasz zniżkę?: </label>
                    <select th:field="*{discount}" id="discount">
                        <option value="true">TAK</option>
                        <option value="false">NIE</option>
                    </select>
                </div>

                <div>
                    <button id="register-submit" class="buttons" type="submit">
                                        <span class="register-submit-text">
                                            <span>Rezerwuj bilet</span>
                                        </span>
                    </button>
                    <input type="reset" value="Reset">
                </div>

            </form>
        </div>

    </div>
</section>


</body>
</html>