<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client panel</title>
    <link rel="stylesheet" th:href ="@{/css/client/client-panel.css}" />
</head>
<body>
<header>
    <div class="main-header">
        <p>Witaj <span th:text="${login}">email</span></p>
    </div>
</header>

<div th:if="${login != null && login.equals('admin@admin')}" class="client-panel">
    <a th:href="@{/adminPanel}"><button class="buttons">ADMIN PANEL</button></a>
</div>
<div class="client-panel">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
    <a th:href="@{/chooseIShow}"><button>REZERWUJ BILET</button></a>
    <a th:href="@{/client/delete/}"><button>USUN SWOJE KONTO</button></a>
</body>
</html>