<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client panel</title>
    <link rel="stylesheet" th:href ="@{/css/client/client-panel.css}" />
</head>
<body>
<div class="sign-out-button">
    <form th:action="@{/logout}" method="post" >
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<header>
    <div th:if="${login}" class="main-header">
        <p>Witaj <span th:text="${login.substring(0, login.indexOf('@'))}">email</span></p>
    </div>
</header>

<div th:if="${login != null && login.equals('admin@admin')}" class="client-panel">
    <a th:href="@{/adminPanel}"><button class="buttons">ADMIN PANEL</button></a>
</div>

<div class="client-panel">
    <a th:href="@{/chooseIShow}"><button class="buttons2">Rezerwuj Bilet</button></a>
    <a th:href="@{/panelClient/delete}"><button class="buttons2">Usuń swoje konto</button></a>
</div>

<div>
    <h1>ZAREZERWOWANE BILETY</h1>
    <div th:each="reservationInfo: ${reservationsInfo}">
        <p>Tytuł: <span th:text="*{reservationInfo.getReservationInfo().getTitle()}">tytul</span></p>
        <p>Data: <span th:text="*{reservationInfo.getReservationInfo().getDate()}">data</span></p>
        <p>Godzina: <span th:text="*{reservationInfo.getReservationInfo().getShowTime()}">czas</span></p>
        <p>Kino: <span th:text="*{reservationInfo.getLocationFullName()}">kino</span></p>
        <p>Numer sali: <span th:text="*{reservationInfo.getRoomNumber()}">sala</span></p>
        <p>Rząd: <span th:text="*{reservationInfo.getTicketDtos().getRow()}">rzad</span></p>
        <p>Numer siedzenia: <span th:text="*{reservationInfo.getTicketDtos().getSeat()}">numer siedzenia</span></p>
        <p>Godzina: <span th:text="*{reservationInfo.getReservationInfo().getShowTime()}">czas</span></p>
    </div>
</div>
</body>
</html>