<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Register client</title>
</head>
<body>
<div>
  <header class="main-header">
    <div class="main-header-label">
      <h1>REJESTRACJA</h1>
    </div>
  </header>
    <div>
      <form th:action="@{/register/add}" th:object="${clientDto}" th:method="post">
        <input th:field="*{name}" name="name" id="name" type="text" placeholder="Wpisz imię">
        <input th:field="*{surname}" name="surname" id="surname" type="text" placeholder="Wpisz nazwisko">
        <input th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber" type="tel" placeholder="Podaj telefon">
        <input th:field="*{email}" name="email" id="email" type="email" placeholder="Wpisz adres e-mail">
        <input th:field="*{dateOfBirth}" name="dateOfBirth" id="dateOfBirth" type="date" placeholder="Podaj datę urodzenia">
        <input th:field="*{password}" name="password" id="password" type="password" placeholder="Podaj hasło">
        <button id="register-submit" class="register register-submit" type="submit">
                            <span class="register-submit-text">
                                <span>ZAREJESTRUJ SIĘ</span>
                            </span>
        </button>
        <input type="reset" value="RESET">
      </form>
    </div>

    <div>
      <a th:href="@{/}"><button>POWRÓT DO LOGOWANIA</button></a>
    </div>

</div>
</body>
</html>