<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href ="@{/css/client/register.css}" />
  <title>Register client</title>
</head>
<body>
<div>
  <header class="main-header">
    <div class="main-header-label">
      <h1>REJESTRACJA</h1>
    </div>
  </header>
  <section role="main" class="main-section">
    <div>
      <form th:action="@{/register}" th:object="${clientDto}" th:method="post" class="register-form">
        <div>
          <input th:field="*{name}" name="name" id="name" type="text" placeholder="Wpisz imię">
        </div>

        <div>
          <input th:field="*{surname}" name="surname" id="surname" type="text" placeholder="Wpisz nazwisko">
        </div>

        <div>
          <input th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber" type="tel" placeholder="Podaj telefon">
        </div>
        <div>
          <input th:field="*{email}" name="email" id="email" type="email" placeholder="Wpisz adres e-mail">
        </div>
        <div>
          <input th:field="*{dateOfBirth}" name="dateOfBirth" id="dateOfBirth" type="date" placeholder="Podaj datę urodzenia">
        </div>
        <div>
          <input th:field="*{password}" name="password" id="password" type="password" placeholder="Podaj hasło">
        </div>
        <div>
          <button id="register-submit" class="buttons" type="submit">
                            <span class="register-submit-text">
                                <span>Zarejestruj się</span>
                            </span>
          </button>
          <input type="reset" value="Reset">
        </div>
      </form>
    </div>


    <div class="register-form">
      <div>
        <a th:href="@{/}"><button class="buttons2">Powrót do logowania</button></a>
      </div>
    </div>
  </section>

</div>
</body>
</html>