body{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background-color: rgb(48, 44, 44);
}

.main-header{
    text-align: center;
    font-size: larger;
    font-style: initial;
    padding: 0px 0px;
    color: rgb(211, 232, 71);
    text-shadow: rgb(211, 232, 71) 0px 0px 5px
}

.buttons {
    background-color: rgb(191, 181, 175);
    box-shadow: rgb(191,181,175) 0px 0px 7px;
    border:none;
    width: 30%;
    min-height: 15%;
    color: rgb(48, 44, 44);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;

}

.buttons:hover{
    transform: scale(0.98);
    opacity: 0.8;
}

.button2 {
    background-color: rgb(191, 181, 175);
    box-shadow: rgb(191,181,175) 0px 0px 7px;
    border:none;
    width: 60%;
    min-height: 15%;
    color: rgb(48, 44, 44);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;

}

.button2:hover{
    transform: scale(0.98);
    opacity: 0.8;
}


input[type = reset]{
    background-color: rgb(191, 181, 175);
    box-shadow: rgb(191,181,175) 0px 0px 7px;
    border:none;
    width: 30%;
    min-height: 15%;
    color: rgb(48, 44, 44);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

input[type = reset]:hover{
    transform: scale(0.98);
    opacity: 0.8;
}

input[type=text], select {
    width: 60%;
    text-align: center;
    padding: 12px 20px;
    margin : 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgb(255,255,255) 0px 0px 7px;
}

.sign-out-button{
    text-align: right;

}

input[type = submit]{
    border:none;
    width: 10%;
    color: rgb(48, 44, 44);
    background-color: rgb(191, 181, 175);
    box-shadow: rgb(191,181,175) 0px 0px 7px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

input[type = submit]:hover{
    transform: scale(0.98);
    opacity: 0.8;
}

.register-form{
    padding: 8px 6px;
    font-size: inherit;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 0px;
}

.back-panel{
    text-align: center;
}

.table{
    text-align: center;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    box-shadow: rgb(255,255,255) 0px 0px 5px;
    background-color: rgb(255, 255, 255);
}

.table thead tr{

    background-color: rgb(231, 227, 227);
    box-shadow: rgb(231, 227, 227) 0px 0px 5px;
    color: black;
    font-weight: bold;
}

.table tbody tr{
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(even){
    background-color: rgb(237, 237, 237)
}