<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logging</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <header class="main-header">
        <div class="main-header-label">
            <h1>LUKRAD CINEMA</h1>
        </div>
    </header>
    <section role="main" class="main-section">
        <div class="main-section-header">
            <h5>Zaloguj się na swoje konto</h5>
        </div>

        <div th:if="${addedEmail != null && !addedEmail.isEmpty()}">
            <p>DODANO UZYTKOWNIKA === <span th:text="${addedEmail}">email</span> === GRATKI</p>
        </div>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>

        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <div class="logging-form">
            <form th:action="@{/login}" method="post">
                <input name="email" id="email"type="email" placeholder="Wpisz adres e-mail">
                <input name="password" id="password"type="password" placeholder="Wpisz hasło">
                <button id="login-submit"type="submit">
                            <span class="login-submit-text">
                                <span>Zaloguj</span>
                            </span>
                </button>
            </form>
            <a th:href="@{/register}"><button>Register</button></a>
        </div>
    </section>
</div>
</body>
</html>